<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'Game/css/style.css' %}" media="screen" title="no title" charset="utf-8">
	<title>Settlers of Catan</title>
	<style>
		body {
			margin: 0;
			padding: 0;
			background-color: #000000;
		}
	</style>
	<script src="{% static 'Game/js/bower_components/pixi.js/bin/pixi.js' %}"></script>
	<script src="{% static 'Game/js/background.js' %}"></script>
</head>
<body data-root="{$ static $}">

    <script>
        console.log(window.innerWidth, window.innerHeight);
        var renderer = PIXI.autoDetectRenderer(window.innerWidth, window.innerHeight, {backgroundColor : 0x1099bb});
        document.body.appendChild(renderer.view);

        // create the root of the scene graph
        var stage = new PIXI.Container();
        stage.interactive = false;
        var board = new GameBoard(renderer.width/2, renderer.height/2, renderer.width*0.50);
        stage.addChild(board);
        console.log(board.coordinates);


        // start animating
        animate();

        function animate() {

            requestAnimationFrame(animate);

            // render the root container
            renderer.render(stage);
        }
    </script>
</body>
</html>