<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'Game/css/style.css' %}" media="screen" title="no title" charset="utf-8">
	<title>Index</title>
	<style>
		body {
			margin: 0;
			padding: 0;
			background-color: #000000;
		}
	</style>
	<script src="{% static 'Game/js/bower_components/pixi.js/bin/pixi.js' %}"></script>
</head>
<body data-root="{$ static $}">

<script>
	var renderer = PIXI.autoDetectRenderer(1000, 1000,{backgroundColor : 0x1099bb});
document.body.appendChild(renderer.view);

// create the root of the scene graph
var stage = new PIXI.Container();

var container = new PIXI.Container();

stage.addChild(container);

function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}

var images = ['static/Game/images/desert_hex_edited.png','static/Game/images/brick_hex_edited.png', 'static/Game/images/forest_hex_edited.png', 'static/Game/images/meadow_hex_edited.png', 'static/Game/images/mountain_hex_edited.png', 'static/Game/images/wheat_hex_edited.png'];
var layout = [3,4,5,4,3]
var width = [1,0,-1,0,1]
var list = [0,1,2,3,4,5,1,2,3,4,5,1,2,3,4,5,3,5,2];
var random = shuffle(list);
var coordinates = [];
var count = 0;
for (var j = 0; j < 5; j++) {

    for (var i = 0; i < layout[j]; i++) {
    	var x = random[i+count]
        var tile = PIXI.Sprite.fromImage(images[x]);
        tile.x = (renderer.width/5) * i + ((renderer.width/10)*width[j]);
        tile.y = (renderer.width/6.5) * j;
        tile.height = renderer.height/5;
        tile.width = renderer.width/5;
        container.addChild(tile);
        coordinates.push({'x':tile.x, 'y':tile.y});
    };
    count += layout[j];
};
	/*else if (j == 1){
		for (var i = 0; i < 4; i++) {
	        var tile = PIXI.Sprite.fromImage(images[random[i+3]]);
	        tile.x = (renderer.width/5) * i;
	        tile.y = (renderer.width/6.5) * j;
	        tile.height = renderer.height/5;
	        tile.width = renderer.width/5;
	        container.addChild(tile);
	        coordinates.push({'x':tile.x, 'y':tile.y});
	    };
	}
	else if (j == 2){
		for (var i = 0; i < 5; i++) {
	        var tile = PIXI.Sprite.fromImage(images[random[i+7]]);
	        tile.x = (renderer.width/5) * i - (renderer.width/10);
	        tile.y = (renderer.width/6.5) * j;
	        tile.height = renderer.height/5;
	        tile.width = renderer.width/5;
	        container.addChild(tile);
	        coordinates.push({'x':tile.x, 'y':tile.y});
	    };
	}
	else if (j == 3){
		for (var i = 0; i < 4; i++) {
	        var tile = PIXI.Sprite.fromImage(images[random[i+12]]);
	        tile.x = (renderer.width/5) * i;
	        tile.y = (renderer.width/6.5) * j;
	        tile.height = renderer.height/5;
	        tile.width = renderer.width/5;
	        container.addChild(tile);
	        coordinates.push({'x':tile.x, 'y':tile.y});
	    };
	}
	else if (j == 4){
		for (var i = 0; i < 3; i++) {
	        var tile = PIXI.Sprite.fromImage(images[random[i+16]]);
	        tile.x = (renderer.width/5) * i + (renderer.width/10);
	        tile.y = (renderer.width/6.5) * j;
	        tile.height = renderer.height/5;
	        tile.width = renderer.width/5;
	        container.addChild(tile);
	        coordinates.push({'x':tile.x, 'y':tile.y});
	    };
	}
};*/
console.log(coordinates);

/*
 * All the bunnies are added to the container with the addChild method
 * when you do this, all the bunnies become children of the container, and when a container moves,
 * so do all its children.
 * This gives you a lot of flexibility and makes it easier to position elements on the screen
 */
container.x = 100;
container.y = 60;

// start animating
animate();

function animate() {

    requestAnimationFrame(animate);

    // render the root container
    renderer.render(stage);
}
</script>
</body>
</html>