{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
	{% load static %}
{#    <meta charset="utf-8">#}
{#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
{#    <link href="{% static 'Game/css/bootstrap.min.css' %}" rel="stylesheet">#}
{#	<link rel="stylesheet" type="text/css" href="{% static 'Game/css/style.css' %}" media="screen" title="no title" charset="utf-8">#}
{#	<title>Settlers of Catan</title>#}
{#	<style>#}
{#		body {#}
{#			margin: 0;#}
{#			padding: 0;#}
{#			background-color: #000000;#}
{#		}#}
{#	</style>#}
{#	<script src="{% static 'Game/js/bower_components/pixi.js/bin/pixi.js' %}"></script>#}
{#	<script src="{% static 'Game/js/background.js' %}"></script>#}
{#    <script src="{% static 'Game/js/bower_components/jquery/dist/jquery.min.js' %}"></script>#}
{#    <script src="{% static 'Game/js/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>#}
{#    <script src="{% static 'Game/js/bower_components/bootstrap/js/modal.js' %}"></script>#}
{#</head>#}
{#<body>#}

<div class="panel panel-default panel-resizable" id="turn-tracker">
    <div class="panel-heading">
        <img src="{% static 'Game/images/catanlogo.png' %}" alt="">
        <h3 id="turn-header-player">Welcome</h3>
    </div>
    <div class="panel-body pBody">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias aspernatur at corporis dolorem ducimus error et eum iusto magni natus obcaecati optio pariatur praesentium quod saepe, sapiente totam ullam.</p>
    </div>
    <div class="panel-footer catan-header">
        <div class="btn btn-default panel-btn">Role Dice</div>
        <div class="btn btn-default panel-btn">End Turn</div>
    </div>
</div>


{#</body>#}
{#</html>#}