<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pixi Test</title>
    {% load static %}
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
        }
    </style>
    <script src="{% static 'Game/js/bower_components/pixi.js/bin/pixi.js' %}"></script>
    <script src="static/Game/js/background.js"></script>
</head>
<body>

    <script>

        var renderer = PIXI.autoDetectRenderer(1000, 760, {backgroundColor: 0x1099bb, antialias: true});

        document.body.appendChild(renderer.view);

        var stage = new PIXI.Container();

        stage.interactive = true;


        var texture = PIXI.Texture.fromImage("static/Game/images/camera-256.png");


        var camera = new PIXI.Sprite(texture);

        camera.anchor.x = 0.5;
        camera.anchor.y = 0.5;

        camera.position.x = 300;
        camera.position.y = 250;

        stage.addChild(camera);

        var t = new NumberButton(6, 500, 500, 35);

        stage.addChild(t);
        var te = new PIXI.Texture.fromImage("static/Game/images/brick_hex_edited.png");
        var h = new Hex("static/Game/images/brick_hex_edited.png", 300, 500, 100, 2);
        stage.addChild(h);
        var g = new GameBoard(300, 250, renderer.width/4);
        stage.addChild(g);
{#        var gr = new PIXI.Graphics();#}
{#        gr.beginFill(0x000000);#}
{#        gr.drawCircle(300, 250, 10);#}
{#        stage.addChild(gr);#}
        var r = PIXI.Rectangle.EMPTY;
        r = g.getBounds();
        var bb = new PIXI.Graphics();
        bb.drawShape(r);
        bb.alpha = 0.5;
        stage.addChild(bb);
        console.log(g.hexes);
        console.log(g.hexes[1][1]);

        var r = new Road(600, 600, 50, 100, 0);
        stage.addChild(r);


        animate();


        function animate() {
            requestAnimationFrame( animate );

            camera.rotation += 0.1;

            renderer.render(stage);
        }
    </script>
</body>
</html>