<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pixi Test</title>
    {% load static %}
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #000000;
        }
    </style>
    <script src="{% static 'Game/js/bower_components/pixi.js/bin/pixi.js' %}"></script>
    <script src="static/Game/js/background.js"></script>
</head>
<body>

    <script>

        var renderer = PIXI.autoDetectRenderer(900, 760, {backgroundColor: 0x1099bb, antialias: true});

        document.body.appendChild(renderer.view);

        var stage = new PIXI.Container();

        stage.interactive = true;

        var texture = PIXI.Texture.fromImage("static/Game/images/camera-256.png");


        var camera = new PIXI.Sprite(texture);

        camera.anchor.x = 0.5;
        camera.anchor.y = 0.5;

        camera.position.x = 300;
        camera.position.y = 250;

        stage.addChild(camera);

        var t = new NumberButton(6, 300, 250, 35);

        stage.addChild(t);

        animate();


        function animate() {
            requestAnimationFrame( animate );

            camera.rotation += 0.1;

            renderer.render(stage);
        }
    </script>
</body>
</html>